<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<sectionGroup name="userSettings">-->
    <section name="labelSettings" allowLocation="true" allowDefinition="Everywhere" type="KTone.Win.KTSDCPrint.ConfigLabelSection, KTSDCPrint"/>
    <section name="userSettings" allowLocation="true" allowDefinition="Everywhere" type="KTone.Win.KTSDCPrint.ConfigColumnSection, KTSDCPrint"/>
    <section name="PrinterSettings" allowLocation="true" allowDefinition="Everywhere" type="KTone.Win.KTSDCPrint.ConfigPrinterSection, KTSDCPrint"/>
    <!--</sectionGroup>-->
  </configSections>
  <appSettings>
    <add key="LabelName" value="C:\Workspace\SomkinJeo\ProjectBase\Build.Application\Win\KTClients\KTSDCPrint\Data"/>
    <add key="InputFileName" value="INPUT-PARAMS-ITEM.txt"/>
    <add key="Printer" value="Zebra R110Xi4 (203 dpi)"/>
    <add key="IssueCommand" value="200"/>
    <add key="LabelFormat" value="AveryHangTag.btw"/>
    <add key="LabelDescription" value="Hang Tag with Product Description"/>
    <add key="IsFirst_NoOfLabel" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="StoreID" value="101"/>
    <add key="AddUPC" value="False"/>
    <add key="WithHeader" value="false"/>
  </appSettings>
  
  <connectionStrings>
    <add name="SDCConnectionString" connectionString="Data Source=192.168.1.17;Initial Catalog=KTSmartDC;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;"/>
    <add name="TrackRetailConnectionString" connectionString="Data Source=192.168.1.17;Initial Catalog=TrackerRetail;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;"/>
    <add name="TrackerRetailConnectionString" connectionString="Data Source=192.168.1.17;Initial Catalog=TrackerRetail;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;"/>
  </connectionStrings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <!--Columns>-->
    <Column Name="UPC" VisibleName="UPC" IsEnable="true" Order="1" IsEditable ="false" IsDeletable ="false"/>
    <Column Name="SKU" VisibleName="SKU" IsEnable="true" Order="2" IsEditable ="false" IsDeletable ="false"/>
    <Column Name="Desc" VisibleName="Description" IsEnable="true" Order="3" IsEditable ="false" IsDeletable ="false"/>
    <Column Name="VendorName" VisibleName="Vendor Name" IsEnable="true" Order="4" IsEditable ="false" IsDeletable ="false"/>
    <Column Name="Price" VisibleName="Price" IsEnable="true" Order="5" IsEditable ="false" IsDeletable ="false"/>
    <Column Name="Custom1" VisibleName="Cost" IsEnable="true" Order="6" IsEditable ="true" IsDeletable ="false"/>
    <Column Name="BatchUOM" VisibleName="Batch Qty" IsEnable="true" Order="7" IsEditable ="true" IsDeletable ="false"/>
    <Column Name="IsPrinted" VisibleName="IsPrinted" IsEnable="true" Order="8" IsEditable ="false" IsDeletable ="false"/>
    <Column Name="PrintStatus" VisibleName="Status" IsEnable="true" Order="9" IsEditable ="false" IsDeletable ="false"/>
    <!--/Columns>-->
  </userSettings>
  <PrinterSettings>
    <Column Name="UPC"></Column>
    <Column Name="DESC"></Column>
    <Column Name="PRICE"></Column>
    <Column Name="SERIAL_NO"></Column>
  </PrinterSettings>
  <labelSettings>
    <Labels Name="2x.5Label" FileName="2x.5Label.btw" Description="2 by .5 EPC Tag"></Labels>
    <Labels Name="AveryHangTag" FileName="AveryHangTag.btw" Description="Hang Tag with Product Description"></Labels>
    <Labels Name="jewelry" FileName="jewelry.btw" Description="Jewelry Tag with UPC"></Labels>
    <Labels Name="MediumLabel" FileName="MediumLabel.btw" Description="Medium Blank Tag"></Labels>
  </labelSettings>
<startup ><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
