<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- Remote Connection setting -->
    <add key="ServerName" value="local"/>
    <add key="IPAddress" value="localhost"/>
    <add key="Protocol" value="tcp"/>
    <add key="URI" value="KTComponentFactory"/>
    <add key="RemotePort" value="31500"/>
    <add key="HostPort" value="31700"/>
    <!-- to identify that asset trace is build for wavetrend or keytone-->
    <add key="ProductBrand" value ="KeyTone"/>
    <!-- WebSite-->
    <add key="WebSite" value ="www.KeytoneTech.com"/>
    <!-- Copyright Message -->
    <add key="Copyright" value="© Copyright KeyTone Technologies 2011. All rights reserved." />
  </appSettings>

</configuration>