<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="username" value="admin"/>
    <add key="password" value="123"/>
    <add key="EmailID" value="RFID_alerts@smokinjoe.com"/>
    <add key="EmailPass" value="RFIDpr0sp3r1ty"/>
    <add key ="TotalNumber" value="3"/>
  </appSettings>

  <connectionStrings>
    <!--<add name="BreakEven" connectionString="server=localhost\KTEXPRESS08;database=KT_BEP;user id=sa;password=Server05!;" providerName="System.Data.SqlClient"/>
    <add name="KT_TrackerConnectionString" connectionString="server=localhost\KTEXPRESS08;database=TrackerRetail;user id=sa;password=Server05!;" providerName="System.Data.SqlClient"/>-->

    <add name="TrackerConnectionString" connectionString="server=192.168.1.17;database=TrackerRetail;user id=RFIDUser;password=RFIDpr0sp3r1ty;" providerName="System.Data.SqlClient"/>
    <add name="TrackerConnectionStringDownTown" connectionString="server=192.168.110.12;database=TrackerRetail;user id=sa;password=manager@123;" providerName="System.Data.SqlClient"/>
    <!--<add name="TrackerConnectionString" connectionString="server=SJMWKS82\SQLSERVER;database=TrackerRetail;user id=sa;password=manager@123;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>