<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- local file logging -->
    <target name="file"
            xsi:type="File"
    fileName="C:\logs\AdventureParkLog.log"
            layout="${longdate}-AdWeb---${level}---${callsite}---${message}---${exception:format=Type}---${exception:format=Message}---${exception:format=StackTrace}---"
 />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>