<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="StoreID" value="404" />
    <add key="SalesIsDamaged" value="0" />
    <add key="DeviceID" value="72" />
    <add key ="FolderPath" value ="~/Pages/UploadedFiles/"/>
  </appSettings>
  <connectionStrings>
    <add name="TrackerConnectionString" connectionString="server=192.168.1.17;database=TrackerRetail;user id=RFIDUser;password=RFIDpr0sp3r1ty;" providerName="System.Data.SqlClient" />
    
      <add name ="Excel03ConString"
           connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};
                         Extended Properties='Excel 8.0;HDR={1}'"/>
      <add name ="Excel07ConString"
           connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};
                         Extended Properties='Excel 8.0;HDR={1}'"/>
    
    <!--<add name="TrackerConnectionString" connectionString="server=SJMWKS82\SQLSERVER;database=TrackerRetail;user id=sa;password=manager@123;" providerName="System.Data.SqlClient"/><!-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>