<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <add name="SourceConnection" connectionString="Data Source=192.168.1.17;Initial Catalog=TrackerRetail;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;" />
    <add name="DestConnection" connectionString="Data Source=192.168.1.198;Initial Catalog=EPM_DW;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;" />
    <add name="DBCON" connectionString="Data Source=192.168.1.17;Initial Catalog=TrackerRetail;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;" />

    <add name="QualityComcash" connectionString="Data Source=VIVEKATS-PC\COMCASH;Initial Catalog=COMCASH;User ID=ccsa;Password=ccsa;" />
    <add name="TrackerRetail" connectionString="Data Source=192.168.1.17;Initial Catalog=TrackerRetail;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;" />
    <add name="RFIDSystem" connectionString="Data Source=192.168.1.17;Initial Catalog=TrackerRetail;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;" />
    <add name="PinnacleSystem" connectionString="Data Source=192.168.1.198;Initial Catalog=SJDW;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;" />
    <add name="SysproSystem" connectionString="Data Source=192.168.1.198;Initial Catalog=EPM_DW;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;" />
    <add name="RodeWayComcash" connectionString="Data Source=192.168.30.13\COMCASH;Initial Catalog=COMCASH;User ID=ccsa;Password=ccsa;" />
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>
		<bindings/>
		<client/>
	</system.serviceModel>
	<appSettings>
		<add key="SyncRefr.syncservice" value="http://192.168.1.17/syncservice/syncservice.asmx"/>
		<add key="LocalRef.SyncService" value="http://localhost:16213/SyncService.asmx"/>
    
	</appSettings>
  
</configuration>
