<?xml version="1.0"?>
<configuration>
  <connectionStrings>
      <add name="DefaultConnectionString" connectionString="Data Source=RFIDSERVER;Initial Catalog=Jarvis;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;"/>
    <add name="RFIDStringJarvis" connectionString="Data Source=RFIDSERVER;Initial Catalog=Jarvis;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;"/>
     <add name="RFIDStringTrackerRetail" connectionString="Data Source=RFIDSERVER;Initial Catalog=TRACKERRETAILS;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;"/>
    <add name="RFIDString" connectionString="Data Source=RFIDSERVER;Initial Catalog=TRACKERRETAILS;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;"/>
    <add name="EPMString" connectionString="Data Source=EPM;Initial Catalog=EPM_DW;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;"/>
    <add name="SysproString" connectionString="Data Source=Syspro;Initial Catalog=EPM_DW;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;"/>

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
