<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="username" value="admin" />
    <add key="password" value="RFID" />
    <add key="EmailID" value="RFID_alerts@smokinjoe.com" />
    <add key="EmailPass" value="RFIDpr0sp3r1ty" />
    <add key="TotalNumber" value="3" />
    <add key="FolderPath" value="Files/" />
    <add key="ReOrder" value="0,0,0,12" />
    <add key="VendorNameRow" value="2,1,2,2" />
    <add key="VendorAddressRow" value="3,1,3,2" />
    <add key="VendorContactRow" value="4,1,4,2" />
    <add key="BuyerNameRow" value="2,4,2,12" />
    <add key="BuyerAddressRow" value="3,4,3,12" />
    <add key="BuyerContactRow" value="4,4,4,12" />
    <add key="ItemsGrabber" value="7,0,12,12" />
  </appSettings>
  <connectionStrings>
    <!--<add name="BreakEven" connectionString="server=localhost\KTEXPRESS08;database=KT_BEP;user id=sa;password=Server05!;" providerName="System.Data.SqlClient"/>
    <add name="KT_TrackerConnectionString" connectionString="server=localhost\KTEXPRESS08;database=TrackerRetail;user id=sa;password=Server05!;" providerName="System.Data.SqlClient"/>-->
    <add name="Jarvis" connectionString="server=192.168.1.17;database=Jarvis;user id=RFIDUser;password=RFIDpr0sp3r1ty;" providerName="System.Data.SqlClient" />
    <add name="TrackerConnectionString" connectionString="server=192.168.1.17;database=TrackerRetail;user id=RFIDUser;password=RFIDpr0sp3r1ty;" providerName="System.Data.SqlClient" />
    <add name="TrackerConnectionStringDownTown" connectionString="server=192.168.110.12;database=TrackerRetail;user id=sa;password=manager@123;" providerName="System.Data.SqlClient" />
    <add name="EPMConnection" connectionString="Data Source=192.168.1.198;Initial Catalog=EPM_DW;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="SJPurchaseOrder" connectionString="server=192.168.1.17;database=SJPurchaseOrder;user id=RFIDUser;password=RFIDpr0sp3r1ty;" providerName="System.Data.SqlClient" />
    <!--<add name="TrackerConnectionString" connectionString="server=SJMWKS82\SQLSERVER;database=TrackerRetail;user id=sa;password=manager@123;" providerName="System.Data.SqlClient"/><!-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>