<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RFIDString" connectionString="Data Source=SJMWKS82\SQLSERVER;Initial Catalog=Jarvis;User ID=sa;Password=manager@123;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <appSettings>
  <add key="JarvisWebRefer.Jarvis" value="http://localhost:3385/Jarvis.asmx"/>
  </appSettings>
</configuration>