<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Name" value="Office" />
    <add key="StoreName" value="Overstock Stores">
    </add>
    <add key="FrmTitle" value="Overstock Store Scanner V8.17" />
    <add key="ReceiptTitle" value="Overstock Store" />
   <!--<add key="SQL" value="Provider=SQLOLEDB;Data Source=WIN-T5ET3VSD6OB\OVERSTOCKSTORE,1433;Initial Catalog=movedb;User ID = sa; Password=manager@123;" />-->
     <add key="SQL" value="Provider=SQLOLEDB;Data Source=SJMWKSVR\SQLSERVER2014;Initial Catalog=movedb;User ID = sa; Password=manager@123;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>