<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Name" value="Office"/>
    <add key="StoreName" value="Overstock Stores"></add>
    <add key ="FrmTitle" value="Overstock Store Scanner"/>
    <add key ="ReceiptTitle" value="Overstock V Store"/>
    <add key="SQL" value="Provider=SQLOLEDB;Data Source=SJMTECH17\SQLSERVER2012;Initial Catalog=movedb;User ID = sa; Password=manager@123;" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>