<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="EmailID" value="RFID_alerts@smokinjoe.com" />
    <add key="EmailPass" value="RFIDpr0sp3r1ty" />
    <add key="URL" value="http://www.development.smokinjoes.com/" /> 
    <add key="ImageURL" value="http://www.development.smokinjoes.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95" />
    <add key="ccAddress" value="vramalingam@smokinjoe.com" />
    <add key="NoStockExistMail" value="vramalingam@smokinjoe.com" />
    <add key="NoStockDefnMail"  value="vramalingam@smokinjoe.com" />
    <add key="MailTempPath"  value="http://192.168.1.17/" />
    <add key="BccAddress" value="" />
    <add key="Subject" value="Web Order" />
    <add key="MailType" value="WebOrder" />
    <add key="EmailTempl" value="C:\SJWebOrder\Mail.html" />
  </appSettings>
  <connectionStrings>
    <add name="TrackerConnectionString" connectionString="server=192.168.1.17;database=TrackerRetail;user id=RFIDUser;password=RFIDpr0sp3r1ty;" providerName="System.Data.SqlClient" />
     <!--<add name="TrackerConnectionString" connectionString="server=SJMWKS82\SQLSERVER;database=TrackerRetail;user id=sa;password=manager@123;" providerName="System.Data.SqlClient"/><!-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>