<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="BreakEven" connectionString="Data Source=192.168.1.17;Initial Catalog=KT_BreakEven;User ID=RFIDUser;Password=RFIDpr0sp3r1ty;" />
    <add name="KT_BreakEvenConnectionString" connectionString="Data Source=192.168.1.17;Initial Catalog=KT_BreakEven;User ID=RFIDUser;Password=RFIDpr0sp3r1ty"     providerName="System.Data.SqlClient" />
    <add name="KT_TrackerConnectionString" connectionString="Data Source=192.168.1.17;Initial Catalog=TrackerRetail;User ID=RFIDUser;Password=RFIDpr0sp3r1ty"      providerName="System.Data.SqlClient" />-->
    <add name="BreakEven" connectionString="Data Source=localhost\KTExpress08;Initial Catalog=KT_BEP; User ID=sa;Password=Server05!;"      providerName="System.Data.SqlClient" />
    <!--<add name="KT_BreakEvenConnectionString" connectionString="Data Source=SJMWKS82;Initial Catalog=KT_BEP;Integrated Security=True"     providerName="System.Data.SqlClient" />-->
    <add name="KT_TrackerConnectionString" connectionString="Data Source=localhost\KTExpress08;Initial Catalog=TrackerRetail; User ID=sa;Password=Server05!"      providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <appSettings>
    <add key="WijmoTheme" value="cobalt" />Omhariom11
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
       
      </assemblies>
    </compilation>
  </system.web>
</configuration>